<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:replace="partials/pieces :: bootstrapLink">
</head>
<body>
    <nav th:replace="partials/pieces :: navbar"></nav>

    <form th:action="@{/posts/{id}/edit(id = ${id})}" th:method="post" th:object="${post}">
        <label for="title">TITLE</label>
        <input id="title" type="text" th:field="*{title}" >
        <label>BODY</label>
        <input id="body" type="text" th:field="*{body}" >
        <button>submit</button>

    </form>
    <script th:replace="partials/pieces :: bootstrapScript"></script>
</body>
</html>